<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <br />
    <div>
        <vc:greeter></vc:greeter>
        @if (User.Identity.IsAuthenticated)
        {
            foreach (var claimsIdentity in User.Identities)
            {
                <h3>@claimsIdentity.Name</h3>
                <ul>
                    @foreach (var claim in claimsIdentity.Claims)
                    {
                        <li>@claim.Type - @claim.Value</li>
                    }
                </ul>
            }
        }
        else
        {
            <div>You are anonymous</div>
        }
    </div>
    <br />
    <div>From Layout: @DateTime.Now.Date</div>
    <br />
	<footer>
	    From Footer: @RenderSection("footer", false)
	</footer>
</body>
</html>
